.git
.github
node_modules
**/node_modules
**/.next
**/dist
**/*.tsbuildinfo
coverage
artifacts
backups
.nawa-secrets
.aws
.git-credentials
.npmrc
**/.aws
**/.git-credentials
**/.npmrc
.env
.env.*
**/.env
**/.env.*
secrets
**/secrets
credentials
**/credentials
*.pem
*.key
*.p12
*.pfx
*.jks
*.crt
*.cer
*.p8
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.jks
**/*.crt
**/*.cer
**/*.p8
